    # Игнорирование конфигов IDE
    .vscode/
    .idea/

    # Игнорирование файлов с чувствительной информацией
    config.ini
    secrets.json
    *.env

    # Игнорирование системных файлов
    .DS_Store
    Thumbs.db

    # Игнорирование папки с зависимостями Python (на примере)
    __pycache__/
    *.pyc
    

